// styles for site content //

.min-temp {
  color: #0099cc;
  font-size: 1.5em;
  font-weight: bold;
}

.max-temp {
  font-weight: bold;
  font-size: 3em;
  padding-top: 15px;
  color: white;
}

.temp-current {
  font-weight: bold;
  font-size: 7em;
  color: white;
}

.more-info {
  padding-top: 30px;
}

.current-container {

}

.ng-valid {
  color: black;
}

.navbar-default {
  background-color: #0099cc;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.panel-body {
  background: transparent;
}

.weather-icon {
  color: #E8F9FB;
}

.panel-title {
  color:#0A758F;
}

h4 {
  color: #485356;
}

.description {
  color: #485356;
  font-weight: bold;
}

.forecast-data {
    background-color: #91D1E2;
    max-width: 250px;
    min-width: 150px;
    padding: 15px;
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 5px;
}




//Custom Styling - Current Weather///
.current-container.ng-scope {
    background-color: #91D1E2;
    padding: 30px;
    border-radius: 6px;
    max-width: 1000px;
    margin: 20px auto 20px auto;



        .current-temp.ng-binding {
            font-size: 75px;
            color: white;
        }

        .container.current-forecast, .row.forecast-icon {
            max-width: 1000px;
            margin-top: 15px;
    }
       .max-current-temp {
         font-size: 35px;
         color: #f45342;
         font-weight: bold;
       }

      .min-current-temp {
        font-size: 35px;
        color: #0099cc;
        font-weight: bold;
        padding-bottom: 15px;
      }

}

///END - Custom Styling - Current Weather//
