<div class="current-container">
    <h1>Current Weather for {{currentWeather.name}}</h1>
    <div class="container current-forecast">
        <div class="row forecast-icon">
            <div class="col-md-6">
            <div class="weather-icon"><i style="font-size: 9em;" class="wi wi-{{currentWeatherIcon[currentWeather.weather[0].id].icon}}"></i></div>
            <strong><p class="current-temp">{{currentWeather.main.temp}}&deg;</p></strong>
            </div>

            <div class="col-md-6" id="temp current-description">
                <p class="max-current-temp">⬆︎ {{currentWeather.main.temp_max}}&deg;</p>
                <p class="min-current-temp">⬇︎ {{currentWeather.main.temp_min}}&deg;</p>
                <p><strong>Currently:</strong> {{currentWeather.weather[0].main}}, {{currentWeather.weather[0].description}}</p>
                <p class="current-wind"><strong>Wind:</strong> {{currentWeather.wind.speed}} mph at {{currentWeather.wind.deg}} &deg;</p>
                <p class="current-clouds"><strong>Clouds:</strong> {{currentWeather.clouds.all}}%</p>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
<p><a ng-href="#!/forecast/{{cityID}}" class="btn btn-sm btn-success">Longer Forecasts</a></p>
<p ng-if="!citySaved"><button class="btn btn-sm btn-primary" ng-click="saveCity(currentWeather)">Save City</button></p>
<div ng-messages="citySaved">
    <p class="city-saved-alert bg-success text-success" ng-message="success">
        {{currentWeather.name}} has been saved to your list of cities.
    </p>
    <p class="city-saved-alert bg-warning text-warning" ng-message="duplicate">
        {{currentWeather.name}} has already been saved to your list of cities.
    </p>
</div>
</div>
